div.background {
  background: url(https://preview.ibb.co/gtTcJQ/serverstatusicon.jpg) repeat;
  border: 2px solid black;
 height: 320px;
 width: 420px;
 padding: 10px;
 float:left;
display:inline-block;
}

div.transbox {
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
font-weight: bold;
color: #000000;
font-size: 110%;

}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

img {
    border-radius: 8px;
}


.UpperTitle
{
    text-align: center;
    padding: 17px 0;
    background-color: #CEDEF4;
    font-weight:bold;
    color: #224499;
   font-size: 15px;
    border-radius: 10px;
    position: relative;
}
.UpperTitle img { position: absolute; left: 10px; top: 0px; }



.div.background, .div.transbox {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

p {
    font-size: 80%;
}

p2 {
    font-size: 120%;
}


.imgcontainer {width:100%;}

.webimg {
          float:left;
        padding:48px;
       
   }