<link rel="stylesheet" type="text/css" href="view/serverstyle.css">
<div class="background">
	<div class="UpperTitle">
		<img src="https://image.ibb.co/hcmmCk/nfsicon.png" alt="" width="40"
			height="40">%ServerHttpAddress%<br/><br/>
			%ServerHttpName%<br/>
			%ServerName%
		<p>%MessageSrv%</p>
		Online:
		<p2> <font color="green">%OnlineNumber% </p2>
		</font>/ %NumberOfRegistered%
	</div>
	<div class="transbox">
		&nbsp; <font color="0A8460">Owner: </font> %OwnerList% &nbsp; <font
			color="0A8460">Admins: </font>%AdminList% &nbsp; <font color="0A8460">Country:
		</font>%Country% &nbsp; <font color="0A8460">Timezone: </font>%Timezone%
		<div class="imgcontainer">
			<a href="%HomePageUrl%"><img
				src="https://image.ibb.co/dHURv5/websiteicon.png" alt="" width="40"
				height="40" class="webimg"></a><a href="%FacebookUrl%"><img
				src="https://image.ibb.co/f9Yda5/facebookicon.png" alt="" width="40"
				height="40" class="webimg"></a><a href="%DiscordUrl%"><img
				src="https://image.ibb.co/cdQ22k/discordicon.png" alt="" width="40"
				height="40" class="webimg"></a>
		</div>
	</div>
</div>